/* common.css */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&family=Josefin+Sans:wght@300&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
   margin: 0;
    background-color: #f0f0f0;
    font-family: 'Josefin Sans', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
    margin: 0 auto;
}

/*  */
/*--- Menu ---*/
.main-nav {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    padding: 15px 80px;
    background: rgba(0,0,0,.7);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    min-height: 65px;
    opacity: 0.99;
}
.service-list-item-content {
  width: 400px;
	transform: scale(1);
	transition: .3s ease-in-out;
}

.service-list-item-content:hover {
  width: 300px;
	transform: scale(1.3);
  }

  .swiper-slide {
    display: flex;
    height: 640px;
    text-align: center;
  }

#ask-form {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 30px 80px;
    font-size: 12px;
  }

.about-us {
  height: 700px;
  width: 700px;
  float: right;
  margin-right: 80px;
  text-align: justify;
  color: #333;
}
.about img {
  padding-left: 80px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    padding: 0;
    margin-right: 10px;
    float: right;
}

nav ul li {
    margin-left: 35px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #45463e;
}

nav ul a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
    transition: .5s;
}

.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 20px;
    width: 30px;
}
/* header */
header {
    height: 800px;
    background: url(../img/1.jpg) no-repeat #fff;
    background-size: cover;
    width:100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

h1 {
    font-size: 4rem;
    color: #fff;
    text-align: center;
}
h2 {
    font-weight: 300;
    font-size: 19px;
    line-height: 1.2;
    min-height: 52px;
    text-transform: uppercase;
    text-shadow: 0 4px 4px rgb(0 0 0 / 50%);
}
h4 {
    color: #fff;
    line-height: 1.5;
    text-align: center;
}

h3 {
    font-weight: 700;
    letter-spacing: .14em;
    line-height: 1em;
    color: #fff;
    font-style: normal;
    font-size: 60px;
}
hr {
  margin-left: -100px;
  width: 30%;
}

p {
  letter-spacing: .14em;
  line-height: 180%;
  color: #fff;
  font-style: normal;
  font-size: 16px;
  margin: 0 0 20px;
}

.social {
  padding: 0 0 40px 40px;
  position: absolute;
  top: 600px;
  right: 110px;
  line-height: 2.8;
}
.social-media {
  padding-top: 25px;
  list-style: none;
  line-height: 1.8;
  text-align: center;
}
.social ul li {
  margin: 10px 0;
}

.main {
  background: url(../img/2.jpg) no-repeat #fff;
  height: 940px;
  padding: 140px 80px;

}
#serice {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  white-space: nowrap;

}

.main ul {
  list-style: none;
  color: #fff;
  font-size: 20px;
  margin: 20px 0;
  padding: 40px;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 400;

}
.main li {
  width: 5%;
  border-bottom: 2px solid white;
  margin-bottom: 1em;
  text-transform: uppercase;
  padding: 10px 0px;
}

.main li:hover {
  width: 10%;
}

.card {
  border: 1px solid rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px 40px;
}
.card p {
  color: #333;
}

.boutiques li {
  list-style: none;
  width: 300px;
  height: 250px;
}

.boutiques {
    display: flex;
    flex-grow: 3;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
  }
iframe {
    position: absolute;
    z-index: 0;
    left: 550px;
    top: 410px;
    width:1000px;
    height:750px;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	box-sizing: border-box;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  outline: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}


#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

/

/*---------------*/
/***** Layla *****/
/*---------------*/

figure.effect-layla {
	background: #18a367;
}

figure.effect-layla img {
	height: 390px;
}

figure.effect-layla figcaption {
	padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	padding-top: 26%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

.content {
	margin: 0 auto;
	max-width: 1000px;
}

.content > h2 {
	clear: both;
	margin: 0;
	padding: 4em 1% 0;
	color: #484B54;
	font-weight: 800;
	font-size: 1.5em;
}

.content > h2:first-child {
	padding-top: 0em;
}

/* Header */
.codrops-header {
	margin: 0 auto;
	padding: 4em 1em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 800;
	font-size: 4em;
	line-height: 1.3;
}

.codrops-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	color: #74777b;
	font-weight: 300;
	font-size: 45%;
}

/* Demo links */
.codrops-demos {
	clear: both;
	padding: 1em 0 0;
	text-align: center;
}

.content + .codrops-demos {
	padding-top: 5em;
}

.codrops-demos a {
	display: inline-block;
	margin: 0 5px;
	padding: 1em 1.5em;
	text-transform: uppercase;
	font-weight: bold;
}

.codrops-demos a:hover,
.codrops-demos a:focus,
.codrops-demos a.current-demo {
	background: #3c414a;
	color: #fff;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 1em 2em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Related demos */
.related {
	clear: both;
	padding: 6em 1em;
	font-size: 120%;
}

.related > a {
	display: inline-block;
	margin: 20px 10px;
	padding: 25px;
	border: 1px solid #4f7f90;
	text-align: center;
}

.related a:hover {
	border-color: #39545e;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

/* Demo ad design */
body #cdawrap {
	background: none;
	top: 50px;
	border: none;
}

body #cdawrap a {
	color: #fff !important;
}

body #cda-remove {
	color: #fff;
}

@media screen and (max-width: 25em) {
	.codrops-header {
		font-size: 75%;
	}
	.codrops-icon span {
		display: none;
	}
}
/* about */

/* works */
/* #footer {
    background: #333;
    box-sizing: border-box;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#footer li {
  list-style: none;
  margin: 40px;
  padding-top: 10px;
} */
.footer {
  display: grid;
  grid-template-columns: 7vw 1fr 7vw;
  grid-template-rows: auto auto;
  clear:both;

margin-top:-50px;
background-color: #545454;
}

.footer-container {
  grid-column: 2 / 3;
  display: grid; /* ACTING AS A GRID CONTAINER */
  grid-template-columns: 2fr 2fr 2fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas: "logo navigation secondary social" "contact contact . newsletter"; }

  .footer-nav {
    grid-area: navigation;
    justify-self: center;
    }
  .footer-secondary-nav {
    grid-area: secondary;
    justify-self: center;
    }
  .social-networks {
    grid-area: social;
    }
    .contact-block {
      grid-area: contact;
     }
    .newsletter {
      grid-area: newsletter;
     }



     @media screen and (max-width: 960px;) {
       main{
 /* чтобы заполнять все пространство по основной
 оси основным элементом прописываем свойство
 flex */
 flex: 1 1 auto;
 display: flex;
 /* дочерние элементы располагаются слева на право */
 justify-content: space-between;
 padding-top: 2vh;}
     }
